.theme{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 300;
}
body.theme .content .row {
margin-bottom: 50px;
}
.theme .navbar-default {
	background-color: #f9da0c;
}
.theme .navbar{
	border: none;
	border-radius: 0px;
}
.theme a {
	color: #7a1501;
	font-weight: 400;
	text-decoration: none;
}
.hdr{
	font-size: 50px;
	color: #7a1501;
}
.subhdr{
	color: #f9da0c;
	font-weight: 700;
}
.sub{
	color: #B11F1B;
	font-weight: 700;
}
.desc{
	color: #f9da0c;
	font-weight: 900;
}
ul{
	list-style: none;
	padding-left: 0px
}

.list{
	list-style-type: disc;
	margin-left: 50px;
	font-size: .8em;
	margin-top: 30px;
	margin-bottom: 30px;
}

.skill-builder-test input[type='radio'] {
    margin-left: 40px;
}

.fixed-quick-link {
    position: fixed;
    right: 10px;
    top: 60px;
    z-index: 99999;
}

.point {
    margin: 20px 0;
}

h3{
    font-weight: bold;
    color:#F9DA0C;
}